*~
.#*
.*.swp
.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.so
.venv*

.*_cache/

.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

.claude
.codex
.opencode
opencode.json
